.tablelist {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tablelist td,
.tablelist th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tablelist tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tablelist tr:hover {
    background-color: #ddd;
}

.tablelist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}